# **5 Methods of string formatting**

In [2]:
# method 1
x=1
y=2
print('the value of x is ',x,'and the value of y is ',y)

the value of x is  1 and the value of y is  2

In [3]:

# method 2
print('the value of x is '+str(x)+ ' and the value of y is '+str(y))

the value of x is 1 and the value of y is 2

In [4]:
# method 3
print('the value of x is %d and the value of y is %d' %(x,y))

the value of x is 1 and the value of y is 2

In [5]:
print('the value of x is %5d and the value of y is %5d' %(x,y))

the value of x is     1 and the value of y is     2

In [6]:
print('the value of x is %-5d and the value of y is %-5d' %(x,y))

the value of x is 1     and the value of y is 2

In [7]:
# method 4
print('the value of x is {0} and the value of y is {1}' .format(x,y))

the value of x is 1 and the value of y is 2

In [8]:
# method 5
print(f'the value of x is {x} and the value of y is {y}')

the value of x is 1 and the value of y is 2